link(rel='stylesheet', href='index.scss')

-
    let colors = [
        {
            name: "Dark Shade 100%",
            code: "#1F2041",
            class: "dark1",
            opacity: "100%"
        },
        {
            name: "Dark Shade 75%",
            code: "#1F2041",
            class: "dark2",
            opacity: "75%"
        },
        {
            name: "Dark Shade 50%",
            code: "#1F2041",
            class: "dark3",
            opacity: "50%"
        },
        {
            name: "Dark Shade 25%",
            code: "#1F2041",
            class: "dark4",
            opacity: "25%"
        },
        {
            name: "Dark Shade 5%",
            code: "#1F2041",
            class: "dark5",
            opacity: "5%"
        },
        {
            name: "Purple",
            code: "#BC9CFF",
            class: "primary",
            opacity: "100%"
        },
        {
            name: "Green",
            code: "#6FCF97",
            class: "secondary",
            opacity: "100%"
        },
    ]

img.logo(src="../logo.png")
.test
    .palette
         each color in colors
                .palette-row
                    .color-box(class=color.class)
                    .color-text <strong>#{color.name}</strong><br>#{color.code}
    //.text
    //    .line1.line
    //        span H1
    //        h1 This one is the sub-section or widget title
    //    .line2.line
    //        span H2
    //        h2 Next one is the item title inside widgets
    //    .line3.line
    //        span H3
    //        h3 This is a label or cta text
    //    .line4.line
    //        span Body
    //        .p This is the body text which is used for most of design, like paragraphs, lists, etc.