link(rel='stylesheet', href='index.scss')

.test
    form
        label Text field
            input(type='text', placeholder='Email')
            //button(type='button', tabindex='-1') expand_more
            button(type='submit', tabindex='-1') arrow_forward
