/* quicksand-regular - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/quicksand/quicksand-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/quicksand/quicksand-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/quicksand/quicksand-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/quicksand/quicksand-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/quicksand/quicksand-v20-latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* quicksand-700 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/quicksand/quicksand-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/quicksand/quicksand-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/quicksand/quicksand-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/quicksand/quicksand-v20-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/quicksand/quicksand-v20-latin-700.ttf') format('truetype'); /* Safari, Android, iOS */
}


/* montserrat-regular - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url('../fonts/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* montserrat-700 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
  url('../fonts/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-700.ttf') format('truetype'); /* Safari, Android, iOS */
}


$base-color: #1F2041;

html {
  color: $base-color;
  margin: 0;
  padding: 0;
  font-family: Quicksand, sans-serif;
  font-size: 14px;
  width: 1440px;
  height: 900px;
}

body {

}

.logo {
  position: absolute;
  margin: 21px 0 0 21px;
  opacity: 25%;
}

.test {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.palette {
}

.palette-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.color-box {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  //background-color: #1F2041;
  //opacity: 100%;
  margin-right: 40px;
}

.color-text {
  font-size: 19px;
  line-height: 150%;
  width: 159px;
}


.dark1 {
  background-color: $base-color;
  opacity: 100%;
}
.dark2 {
  background-color: $base-color;
  opacity: 75%;
}
.dark3 {
  background-color: $base-color;
  opacity: 50%;
}
.dark4 {
  background-color: $base-color;
  opacity: 25%;
}
.dark5 {
  background-color: $base-color;
  opacity: 5%;
}
.primary {
  background-color: #BC9CFF;
  opacity: 100%;
}
.secondary {
  background-color: #6FCF97;
  opacity: 100%;
}

.text {
  display: flex;
  align-items: center;
}

.tags {
  text-align: right;
  margin-right: 30px;
}