/* quicksand-regular - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/quicksand/quicksand-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/quicksand/quicksand-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/quicksand/quicksand-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/quicksand/quicksand-v20-latin-regular.svg#Quicksand') format('svg'); /* Legacy iOS */
}
/* quicksand-700 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../fonts/quicksand/quicksand-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/quicksand/quicksand-v20-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/quicksand/quicksand-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/quicksand/quicksand-v20-latin-700.svg#Quicksand') format('svg'); /* Legacy iOS */
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url('../fonts/montserrat/montserrat-v14-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/montserrat/montserrat-v14-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/montserrat/montserrat-v14-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/montserrat/montserrat-v14-latin_cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
  url('../fonts/montserrat/montserrat-v14-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/montserrat/montserrat-v14-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/montserrat/montserrat-v14-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/montserrat/montserrat-v14-latin_cyrillic-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}



$base-color: #1F2041;

html {
  color: $base-color;
  margin: 0;
  padding: 0;
  font-family: Montserrat, serif;
  font-size: 14px;
}

h1 {
  font-family: Quicksand, sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

h2 {
  font-family: Quicksand, sans-serif;
  font-weight: bold;
  font-size: 19px;
  margin: 0;
}

h3 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
}

p {
  opacity: 75%;
  line-height: 24px;
  margin: 0;
}

.logo {
  position: absolute;
  margin: 21px 0 0 21px;
  opacity: 25%;
}

.test {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.palette {

}

.palette-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.color-box {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  margin-right: 40px;
}

.color-text {
  font-family: Quicksand, sans-serif;
  font-size: 19px;
  line-height: 150%;
  width: 159px;
}


.dark1 {
  background-color: $base-color;
  opacity: 100%;
}
.dark2 {
  background-color: $base-color;
  opacity: 75%;
}
.dark3 {
  background-color: $base-color;
  opacity: 50%;
}
.dark4 {
  background-color: $base-color;
  opacity: 25%;
}
.dark5 {
  background-color: $base-color;
  opacity: 5%;
}
.primary {
  background-color: #BC9CFF;
  opacity: 100%;
}
.secondary {
  background-color: #6FCF97;
  opacity: 100%;
}

.text {
  display: flex;
  align-items: flex-start;
  margin-top: 0;
  width: 403px;
}

.tag {
  margin-right: 30px;
  margin-bottom: 50px;
  text-align: right;
  font-family: Montserrat, sans-serif;
  opacity: 75%;
  font-weight: normal;
}

.tags {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  margin-bottom: 50px;
  width: 336px;
}